.Btn{
    background-color:'#f3f3f3';
    border: 0;
    margin: 10px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    text-align: center;
    color:black;
}
.Btn:hover{
background-color: rebeccapurple;
color: white;

}