.table_container{
    min-height: 180px;
    text-align: center;
}
.table_container tr td{
    padding: 30px 0;
    background-color: #876955;
    color: white;
}
.tb-tr{
    color:#000000;
    background-color: #876955;
}


