.button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.Btn{
    background-color: #A4BE7B;
    border: 0;
    margin: 10px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    text-align: center;
    color:white;
}
.Btn:hover{
background-color: rebeccapurple;
color: white;

}